################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmbeddedEmulator/bin/Debug
/EmbeddedEmulator/obj
